<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()"><ons-icon icon="ion-navicon-round" fixed-width="false"></ons-icon></ons-toolbar-button>
    </div>
    <div class="center">SCHEMA</div>
  </ons-toolbar>

      <ons-list>
        <ons-list-header class="listschemaheader">
            
  <div class="app-page">
    <div class="schemacontrols">
      <div class="schemadate">
        Training 28-7-2015<br/>
        Gaat door
      </div>
    </div>
          </div>
        </ons-list-header></br>
         <center><ons-row>
    <ons-col class="colgroen" onclick="menu.setMainPage('groen.html')">13</ons-col>
    <ons-col class="colrood" onclick="menu.setMainPage('rood.html')">5</ons-col>
    <ons-col class="coloranje" onclick="menu.setMainPage('oranje.html')">3</ons-col>
    <ons-col class="colkruis" onclick="menu.setMainPage('grey.html')">20</ons-col>
    </ons-row></center>
        <ons-list-item  class="list-item-container green">
          <div class="list-item-left">
            <img src="images/profile_pics/profile_adam.jpg" class="avator-green">
          </div>
           <div class="list-item-content">
              <div class="name">Adam de Boer </br>Quater Back
            </div>
          </div>
        </ons-list-item>
        <ons-list-item  class="list-item-container green ">
          <div class="list-item-left">
            <img src="images/profile_pics/profile_james.jpg" class="avator-green">
          </div>
           <div class="list-item-content">
              <div class="name">Bob de Laat </br>Wide receiver
              </div>
            </div><div class="cross"><ons-icon icon="ion-checkmark-round"><ons-icon>
          <div class="list-item-right-red"><ons-icon icon="ion-model-s"></ons-icon>
          </div></div>
        </ons-list-item>
        <ons-list-item  class="list-item-container orange ">
          <div class="list-item-left">
            <img src="images/profile_pics/profile_james.jpg" class="avator-orange">
          </div>
           <div class="list-item-content">
              <div class="name">Nieuwe boy </br>Wide receiver
              </div>
            </div><div class="cross"><ons-icon icon="ion-close-round"><ons-icon>
          <div class="list-item-right-red"><ons-icon icon="ion-model-s"></ons-icon>
          </div></div>
        </ons-list-item>
        <ons-list-item  class="list-item-container red">
          <div class="list-item-left">
             <img src="images/profile_pics/profile_kevin.jpg" class="avator-red">
          </div>
           <div class="list-item-content">
              <div class="name">Richard de vries </br>Runningback
              </div>
            </div>
          <div class="list-item-right-red">
          </div>
        </ons-list-item>
        <ons-list-item  class="list-item-container grey">
          <div class="list-item-left">
             <img src="images/profile_pics/profile_kevin.jpg" class="avator-grey">
          </div>
           <div class="list-item-content">
              <div class="name">Richard de vries </br>Runningback
              </div>
            </div>
          <div class="list-item-right-grey">
          </div>
        </ons-list-item>
                <ons-list-item  class="list-item-container green">
          <div class="list-item-left">
            <img src="images/profile_pics/profile_adam.jpg" class="avator-green">
          </div>
           <div class="list-item-content">
              <div class="name">Adam de Boer </br>Quater Back
            </div>
          </div>
        </ons-list-item>
        <ons-list-item  class="list-item-container green ">
          <div class="list-item-left">
            <img src="images/profile_pics/profile_james.jpg" class="avator-green">
          </div>
           <div class="list-item-content">
              <div class="name">Bob de Laat </br>Wide receiver
              </div>
            </div><div class="cross"><ons-icon icon="ion-checkmark-round"><ons-icon>
          <div class="list-item-right-red"><ons-icon icon="ion-model-s"></ons-icon>
          </div></div>
        </ons-list-item>
        <ons-list-item  class="list-item-container orange ">
          <div class="list-item-left">
            <img src="images/profile_pics/profile_james.jpg" class="avator-orange">
          </div>
           <div class="list-item-content">
              <div class="name">Nieuwe boy </br>Wide receiver
              </div>
            </div><div class="cross"><ons-icon icon="ion-close-round"><ons-icon>
          <div class="list-item-right-red"><ons-icon icon="ion-model-s"></ons-icon>
          </div></div>
        </ons-list-item>
        <ons-list-item  class="list-item-container red">
          <div class="list-item-left">
             <img src="images/profile_pics/profile_kevin.jpg" class="avator-red">
          </div>
           <div class="list-item-content">
              <div class="name">Richard de vries </br>Runningback
              </div>
            </div>
          <div class="list-item-right-red">
          </div>
        </ons-list-item>
        <ons-list-item  class="list-item-container grey">
          <div class="list-item-left">
             <img src="images/profile_pics/profile_kevin.jpg" class="avator-grey">
          </div>
           <div class="list-item-content">
              <div class="name">Richard de vries </br>Runningback
              </div>
            </div>
          <div class="list-item-right-grey">
          </div>
        </ons-list-item>
                <ons-list-item  class="list-item-container green">
          <div class="list-item-left">
            <img src="images/profile_pics/profile_adam.jpg" class="avator-green">
          </div>
           <div class="list-item-content">
              <div class="name">Adam de Boer </br>Quater Back
            </div>
          </div>
        </ons-list-item>
        <ons-list-item  class="list-item-container green ">
          <div class="list-item-left">
            <img src="images/profile_pics/profile_james.jpg" class="avator-green">
          </div>
           <div class="list-item-content">
              <div class="name">Bob de Laat </br>Wide receiver
              </div>
            </div><div class="cross"><ons-icon icon="ion-checkmark-round"><ons-icon>
          <div class="list-item-right-red"><ons-icon icon="ion-model-s"></ons-icon>
          </div></div>
        </ons-list-item>
        <ons-list-item  class="list-item-container orange ">
          <div class="list-item-left">
            <img src="images/profile_pics/profile_james.jpg" class="avator-orange">
          </div>
           <div class="list-item-content">
              <div class="name">Nieuwe boy </br>Wide receiver
              </div>
            </div><div class="cross"><ons-icon icon="ion-close-round"><ons-icon>
          <div class="list-item-right-red"><ons-icon icon="ion-model-s"></ons-icon>
          </div></div>
        </ons-list-item>
        <ons-list-item  class="list-item-container red">
          <div class="list-item-left">
             <img src="images/profile_pics/profile_kevin.jpg" class="avator-red">
          </div>
           <div class="list-item-content">
              <div class="name">Richard de vries </br>Runningback
              </div>
            </div>
          <div class="list-item-right-red">
          </div>
        </ons-list-item>
        <ons-list-item  class="list-item-container grey">
          <div class="list-item-left">
             <img src="images/profile_pics/profile_kevin.jpg" class="avator-grey">
          </div>
           <div class="list-item-content">
              <div class="name">Richard de vries </br>Runningback
              </div>
            </div>
          <div class="list-item-right-grey">
          </div>
        </ons-list-item>
      <!--
      <div ng-app="test123">
        <div ng-controller="controller1">
         <div ng-repeat="player in data.players">
     
     

        <div class="list-item-container green">
        <div class="list-item-left">
             <img src="" class="avator">
          </div>
          <div class="list-item-content">
              <div class="name">{{post.name}}
                <span class="lucent">{{post.position}}</span>
              </div>
            </div>
          </div>
      </div>
    </div> -->
    </div>
  </div>
  

</ons-page>